openapi: 3.0.1
info:
  title: Dacast Analytics API
  description: 'RESTful JSON API for the Dacast live streaming and video hosting (OTT) platform. Covers live channels, video on demand (VOD), playlists, and viewer analytics. Authentication uses an X-Api-Key request header. API access is gated to Scale and Custom plans (trial accounts can request temporary access from Dacast sales).

    Grounding note: the base host (https://developer.dacast.com), the v2 versioning, X-Api-Key auth, and the operations POST /v2/vod, POST /v2/channel, POST /v2/playlist, and GET /v2/playlist/{playlistId} are confirmed from Dacast''s public developer docs (docs.dacast.com). Operations marked "x-modeled: true" are honestly modeled REST shapes for capabilities Dacast documents but whose exact paths, verbs, or parameters are not published; verify against the developer portal before use.'
  version: '2.0'
  contact:
    name: Dacast Support
    url: https://www.dacast.com/support/
  termsOfService: https://www.dacast.com/terms-conditions/
servers:
- url: https://developer.dacast.com
security:
- ApiKeyAuth: []
tags:
- name: Analytics
  description: Viewer analytics and reporting.
paths:
  /v2/analytics:
    get:
      operationId: getAnalytics
      tags:
      - Analytics
      summary: Read viewer analytics
      description: Read raw viewer analytics (views, watch time, bandwidth, geography) for VOD and live content over a time range. Dacast documents analytics export via the API but does not publish the exact endpoint path or query parameters; this operation is modeled.
      x-modeled: true
      parameters:
      - name: contentId
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Analytics data.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
