openapi: 3.2.0
info:
  title: Dacast Playlists API
  description: RESTful JSON API for the Dacast live streaming and video hosting (OTT) platform.
  version: '2.0'
  contact:
    name: Dacast Support
    url: https://www.dacast.com/support/
  termsOfService: https://www.dacast.com/terms-conditions/
servers:
- url: https://developer.dacast.com
security:
- ApiKeyAuth: []
tags:
- name: Playlists
  description: Ordered collections of VOD and live content.
paths:
  /v2/playlist:
    post:
      operationId: createPlaylist
      tags:
      - Playlists
      summary: Create a playlist
      description: Create a playlist with title and description. Confirmed from the Playlists guide.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Playlist created.
  /v2/playlist/{playlistId}:
    get:
      operationId: getPlaylist
      tags:
      - Playlists
      summary: Get a playlist
      description: Retrieve a playlist and its contents. Confirmed from the Playlists guide.
      parameters:
      - name: playlistId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Playlist details.
    put:
      operationId: setPlaylistContent
      tags:
      - Playlists
      summary: Set playlist content
      description: Replace-in-place update of a playlist's ordered contents. The full content array (VOD and live channel items) must be submitted. Documented behavior; exact verb/path modeled.
      x-modeled: true
      parameters:
      - name: playlistId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Playlist content set.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
